<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find ID Result</title>
    <!-- 필요한 CSS 및 스타일 시트를 로드할 수 있습니다. -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body onload="openModal()">
<!-- 기타 화면 요소 -->
<!-- 모달 창 -->
<dialog id="my_modal_2" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">[아이디 찾기 결과]</h3>
        <!-- 모달 내용에 결과 데이터를 표시합니다. -->
        <label>회원님의 ID는 :</label>

        <p class="py-4" th:text="${email}"></p>
        <div class="modal-action">
            <!-- 모달 닫기 버튼 -->
            <button onclick="closeModal()" >닫기</button>
        </div>
    </div>
</dialog>

<!-- 기타 스크립트 및 모달 열기 버튼을 위한 스크립트 등 -->
<script type="text/javascript">
    function openModal() {
        var modal = document.getElementById("my_modal_2");
        modal.showModal();
    }

    function closeModal() {
        var modal = document.getElementById("my_modal_2");
        modal.close();
        window.location.href="login"
    }
</script>
<!-- 모달 열기 버튼
<button onclick="openModal()">모달 열기</button>-->

<!-- 필요한 스크립트 등을 로드할 수 있습니다. -->
</body>
</html>