body{
    font-family: 'Montserrat', sans-serif;
    background:white;
}

.container{
    display:block;
    max-width:680px;
    width:80%;
    margin:120px auto;
}

ul{
    list-style: none;
}

li {

}

.list-box {
    gap: 20px;
    top: -15px;
    height: 20px;
    margin-bottom: 3px;
    left: 10px;
    position: relative;
    border: 20px solid #f1ebe8cc;
    border-radius: 9px;
    background-color: #f1ebe8f2;
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
}

h1{
    color:#e91e63;
    font-size:48px;
    letter-spacing:-3px;
    text-align:center;
    margin:120px 0 80px 0 ;
    transition:.2s linear;
}

.links{
    list-style-type:none;
    li{
        display:inline-block;
        margin:0 20px 0 0;
        transition:.2s linear;
        &:nth-child(2){
            opacity : .6;
            &:hover{
                opacity : 1;
            }
        }
        &:nth-child(3){
            opacity : .6;
            float:right;
            &:hover{
                opacity : 1;
            }
        }
        a{
            text-decoration:none;
            color:#0f132a;
            font-weight:bolder;
            text-align:center;
            cursor : pointer;
        }
    }
}




form{
    width:100%;
    max-width:680px;
    margin:40px auto 10px;
    .input__block{
        margin:20px auto;
        display:block;
        position:relative;
        &.first-input__block{
            &::before{
                content:"";
                position:absolute;
                top:-15px;
                left:50px;
                display:block;
                width:0;
                height:0;
                background:transparent;
                border-left:15px solid transparent;
                border-right:15px solid transparent;
                border-bottom:15px solid rgba(#0f132a,.1);
                transition:.2s linear;
            }
        }
        &.signup-input__block{
            &::before{
                content:"";
                position:absolute;
                top:-15px;
                left:150px;
                display:block;
                width:0;
                height:0;
                background:transparent;
                border-left:15px solid transparent;
                border-right:15px solid transparent;
                border-bottom:15px solid rgba(#0f132a,.1);
                transition:.2s linear;
            }
        }
        input{
            display:block;
            width:90%;
            max-width:680px;
            height:50px;
            margin:0 auto;
            border-radius:8px;
            border:none;
            background: rgba(#0f132a,.1);
            color : rgba(#0f132a,.3);
            padding:0 0 0 15px;
            font-size:14px;
            font-family: 'Montserrat', sans-serif;
            &:focus,
            &:active{
                outline:none;
                border:none;
                color : rgba(#0f132a,1);
            }
            &.repeat__password{
                opacity : 0;
                display : none;
                transition:.2s linear;
            }
        }
    }

    .signin__btn{
        background:#e91e63;
        color:white;
        display:block;
        width:92.5%;
        max-width:680px;
        height:50px;
        border-radius:8px;
        margin:0 auto;
        border:none;
        cursor:pointer;
        font-size:14px;
        font-family: 'Montserrat', sans-serif;
        box-shadow:0 15px 30px rgba(#e91e63,.36);
        transition:.2s linear;
        &:hover{
            box-shadow:0 0 0 rgba(#e91e63,.0);
        }
    }
}

.separator{
    display:block;
    margin:30px auto 10px;
    text-align:center;
    height:40px;
    position:relative;
    background:transparent;
    color: rgba(#0f132a,.4);
    font-size:13px;
    width:90%;
    max-width:680px;
    &::before{
        content:"";
        position:absolute;
        top:8px;
        left:0;
        background: rgba(#0f132a,.2);
        height:1px;
        width:45%;
    }
    &::after{
        content:"";
        position:absolute;
        top:8px;
        right:0;
        background: rgba(#0f132a,.2);
        height:1px;
        width:45%;
    }
}

footer{
    text-align: center;
    color: #e91e63;
    p{
        text-align:center;
        .fa{
            color: #e91e63;
        }
    }
}

@keyframes colorChange {
    0% {
        color: rgba(255,165,0, 0.3); /* 완전 투명한 상태 */
    }
    100% {
        color: rgba(233,30,99, 1); /* 완전 불투명한 상태 (밝은 색) */
    }
}

.fa.fa-heart {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 0.3s; /* 추가: 변환 효과를 주기 위한 트랜지션 설정 */
}

.fa.fa-heart:hover {
    transform: scale(3.0);
    animation: colorChange 2s linear;
}
.red-button-container {
    text-align: center; /* 버튼을 수평으로 가운데 정렬합니다. */
}

.red-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.red-button:hover {
    background-color: #c2185b;
}
