@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'yg-jalnan', sans-serif;
    background:white;
}

.container{
    display:block;
    width:80%;
    margin:120px auto;
}

ul{
    list-style: none;
}

li {
    margin: 5px auto 5px;
}

.list-box {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

    padding-left: 30px;
    padding-top: 20px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    display: table;
    width: 50rem;
    top: -15px;
    height: 20px;
    left: 10px;
    position: relative;
    background-color: #e7e4e3f2;
    border-width: 10px;
}

.list-box:hover {
    transform: scale(1.010); /* 확대 (1.1은 확대 비율, 1.0은 원래 크기) */
    background-position: right center;
}
.list-box p {
    color: black; /* 텍스트 색상을 검은색으로 설정 */
}
.list-box h4 {
    color: black; /* 텍스트 색상을 검은색으로 설정 */
}
.list-box {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

h1{
    color:#e91e63;
    font-size:48px;
    letter-spacing:-3px;
    text-align:center;
    margin:120px 0 80px 0 ;
    transition:.2s linear;
}

.links{
    list-style-type:none;
    li{
        display:inline-block;
        margin:0 20px 0 0;
        transition:.2s linear;
        &:nth-child(2){
            opacity : .6;
            &:hover{
                opacity : 1;
            }
        }
        &:nth-child(3){
            opacity : .6;
            float:right;
            &:hover{
                opacity : 1;
            }
        }
        a{
            text-decoration:none;
            color:#0f132a;
            font-weight:bolder;
            text-align:center;
            cursor : pointer;
        }
    }
}




form{
    width:100%;
    max-width:680px;
    margin:40px auto 10px;
    .input__block{
        margin:20px auto;
        display:block;
        position:relative;
        &.first-input__block{
            &::before{
                content:"";
                position:absolute;
                top:-15px;
                left:50px;
                display:block;
                width:0;
                height:0;
                background:transparent;
                border-left:15px solid transparent;
                border-right:15px solid transparent;
                border-bottom:15px solid rgba(#0f132a,.1);
                transition:.2s linear;
            }
        }
        &.signup-input__block{
            &::before{
                content:"";
                position:absolute;
                top:-15px;
                left:150px;
                display:block;
                width:0;
                height:0;
                background:transparent;
                border-left:15px solid transparent;
                border-right:15px solid transparent;
                border-bottom:15px solid rgba(#0f132a,.1);
                transition:.2s linear;
            }
        }
        input{
            display:block;
            width:90%;
            max-width:680px;
            height:50px;
            margin:0 auto;
            border-radius:8px;
            border:none;
            background: rgba(#0f132a,.1);
            color : rgba(#0f132a,.3);
            padding:0 0 0 15px;
            font-size:14px;
            font-family: 'Montserrat', sans-serif;
            &:focus,
            &:active{
                outline:none;
                border:none;
                color : rgba(#0f132a,1);
            }
            &.repeat__password{
                opacity : 0;
                display : none;
                transition:.2s linear;
            }
        }
    }

    .signin__btn{
        background:#e91e63;
        color:white;
        display:block;
        width:92.5%;
        max-width:680px;
        height:50px;
        border-radius:8px;
        margin:0 auto;
        border:none;
        cursor:pointer;
        font-size:14px;
        font-family: 'Montserrat', sans-serif;
        box-shadow:0 15px 30px rgba(#e91e63,.36);
        transition:.2s linear;
        &:hover{
            box-shadow:0 0 0 rgba(#e91e63,.0);
        }
    }
}

.separator{
    display:block;
    margin:30px auto 10px;
    text-align:center;
    height:40px;
    position:relative;
    background:transparent;
    color: rgba(#0f132a,.4);
    font-size:13px;
    width:90%;
    max-width:680px;
    &::before{
        content:"";
        position:absolute;
        top:8px;
        left:0;
        background: rgba(#0f132a,.2);
        height:1px;
        width:45%;
    }
    &::after{
        content:"";
        position:absolute;
        top:8px;
        right:0;
        background: rgba(#0f132a,.2);
        height:1px;
        width:45%;
    }
}

.fa.fa-heart {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 0.3s; /* 추가: 변환 효과를 주기 위한 트랜지션 설정 */
}

.fa.fa-heart:hover {
    transform: scale(3.0);
    animation: colorChange 2s linear;
}

.reservation-ticket-delete-button{
    font-family: yg-jalnan;
    text-align: right;
    margin-right: 30px;
    margin-bottom: 15px;

}


.background-form {
    display: flex;
    flex-wrap: wrap; gap: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

/* 5 */
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: 9px;
    background: linear-gradient(108deg, rgb(255 0 104 / 50%) 0%, rgb(101 76 65 / 80%) 100%);
}
.btn-5:hover {
    color: white;
    box-shadow:none;
}
.btn-5:before,
.btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;


    transition:400ms ease all;
}
.btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
    height: 100%;
    width:100%;
    transition:800ms ease all;
}


