/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}

.container {
    display: block;
    max-width: 680px;
    width: 80%;
    margin: 120px auto;
}

/* Title Styling */
.title1 {
    color: #e91e63;
    font-size: 38px;
    letter-spacing: -3px;
    text-align: center;
    margin: 120px 0 80px 0;
    transition: .2s linear;
}

/* Form Styles */
.form-group {
    margin: 20px auto;
    display: block;
    position: relative;
}

.form-control {
    display: block;
    width: 90%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    background: rgba(15, 19, 42, 0.1);
    color: rgba(15, 19, 42, 0.3);
    padding: 0 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.form-control:focus,
.form-control:active {
    outline: none;
    border: none;
    color: rgba(15, 19, 42, 1);
}

.btn {
    background: #e91e63;
    color: white;
    display: block;
    width: 92.5%;
    max-width: 680px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 15px 30px rgba(233, 30, 99, 0.36);
    transition: .2s linear;
}
.btn-outline-secondary{
    background: #e91e63;
    color: white;
    display: block;
    width: 20%;
    height: 50px;
    border-radius: 8px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 15px 30px rgba(233, 30, 99, 0.36);
    transition: .2s linear;
}

.btn:hover {
    box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

/* Separator Styling */
.separator {
    display: block;
    margin: 30px auto 10px;
    text-align: center;
    height: 40px;
    position: relative;
    background: transparent;
    color: rgba(15, 19, 42, 0.4);
    font-size: 13px;
    width: 90%;
    max-width: 680px;
}

.separator::before,
.separator::after {
    content: "";
    position: absolute;
    top: 8px;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
}

/* Button Styling */
.google__btn, .github__btn {
    display: block;
    width: 90%;
    max-width: 680px;
    margin: 20px auto;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: none;
    line-height: 40px;
}

.google__btn.google__btn {
    background-color: gold;
    color: white;
    font-weight: bolder;
    box-shadow: 0 15px 30px rgba(91, 144, 240, 0.36);
    transition: .2s linear;
}

.google__btn.google__btn:hover {
    box-shadow: 0 0 0 rgba(91, 144, 240, 0);
}

.github__btn.github__btn {
    background: #25282d;
    color: white;
    box-shadow: 0 15px 30px rgba(37, 40, 45, 0.36);
    transition: .2s linear;
}

.github__btn.github__btn:hover {
    box-shadow: 0 0 0 rgba(37, 40, 45, 0);
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

/* Additional Styles for your specific elements (not shown in the provided HTML) */
#checksign-img {
    /* Add specific styles for the checksign-img here */
}

#xsign-img {
    /* Add specific styles for the xsign-img here */
}


@import url('https://fonts.googleapis.com/css?family=Paytone+One');

.checksign-father-only{
    position: relative;

}

#checksign-img{
    color: green;
}

#xsign-img {
    color:red;
}

#checksign-img,
#xsign-img {
    top: 25%;
    left: 80%;
    position: absolute;
    visibility: hidden;
    opacity: 0; /* 처음에 투명하게 설정 */
    transition: visibility 0s, opacity 1s; /* transition 효과 추가 */
}

#checksign-img.visible,
#xsign-img.visible{
    visibility: visible;
    opacity: 1; /* 투명도를 1로 변경하여 나타남 */
}

.first-child-form-control{
    margin-bottom: 10px;
}


.footer{
    margin-left: 3em;
}

.strech-verifyId{
    display: flex;
    column-gap: 1.8em;
}



.form-text{
    margin-top: 6.5px;
}

.Btext-warn-text{
    margin-left: 10px;
    background: linear-gradient(to right top, #f0ad4e,#661657);
    color: transparent;
    -webkit-background-clip: text;
}

/* Styling for other specific elements (not shown in the provided HTML) */